#cabecera{
    background-color: #EEEEEE;
    padding: 10px;
    color: #539cdc;
}
#menu{
    background-color: #337AB7;
    padding: 10px;
    margin-bottom: 5px;
}
a.item_menu{
    color: white;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
a.item_menu:hover{
    background-color: #a3d0f8;
    
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
